.btn-custom-red {
  background-color: hsl(0, 100%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe2323", endColorstr="#a80000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe2323), to(#a80000));
  background-image: -moz-linear-gradient(top, #fe2323, #a80000);
  background-image: -ms-linear-gradient(top, #fe2323, #a80000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe2323), color-stop(100%, #a80000));
  background-image: -webkit-linear-gradient(top, #fe2323, #a80000);
  background-image: -o-linear-gradient(top, #fe2323, #a80000);
  background-image: linear-gradient(#fe2323, #a80000);
  border-color: #a80000 #a80000 hsl(0, 100%, 27%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
}